[submodule "external/nano-vllm"]
	path = external/nano-vllm
	url = git@github.com:GeeeekExplorer/nano-vllm.git
[submodule "projects/projects/vllm_learning"]
	path = projects/projects/vllm_learning
	url = git@github.com:Ericva/vllm_learning.git
